#widget-container {
    max-width: 500px;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: arial;
}

#head-line {
    background-color: darkblue;
    color: white;
    padding: 5px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-weight: bold;
}
#small-head-line{
    font-size: 12px;
}
#big-head-line{
    font-weight: bold;
}
.items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    direction: ltr;
    margin-top: 4px;
}
.item:hover div p {
    text-decoration: underline;
}
.item:hover .image-wrapper img {
    width: 110%;
    height: 110%;
}
.image-wrapper {
    overflow: hidden;
    height: 120px;
}
.image-wrapper img, .image-wrapper video {
    width: 100%;
    min-height: 120px;
    transition: all ease 0.4s;
    object-fit:cover;
}
.image-wrapper video{
    object-fit:cover;
}
.text-container {
    font-size: 15px;
}

.text-container p {
    margin: 3px auto;
    font-weight: bold;

}
.sub-text {
    color: gray;
    font-size: 12px;
}

.link {
    text-decoration: none;
    color: black;
}

@media only screen and (min-device-width: 20px)  and (max-device-width: 991px) {
    .items-container {
        grid-template-columns: 1fr;
        max-width: inherit;
       m ax-height: inherit;
    }
}
